*
!/.root
!/.root/**
!/.wallpapers
!/.wallpapers/**
!/.config
!/.config/awesome
!/.config/awesome/**
!/.config/rofi
!/.config/rofi/**
!/.config/cava
!/.config/cava/**
!/.config/dunst
!/.config/dunst/**
!/.config/yambar
!/.config/yambar/**
!/.config/sway
!/.config/sway/**
!/.config/river
!/.config/river/**
!/.config/nvim
!/.config/nvim/**
!/.icons
!/.icons/**
!/.images
!/.images/**
!/.scripts
!/.scripts/**
