[user]
    email = a@dun.ai
    name = Andrew Dunai
    # signingkey = 7FA9F240665038B6
    signingkey = 58184B850FE18BA6

[alias]
    st = status
    co = checkout
    br = branch
    spull = submodule update --init --recursive
    commit = commit -S

[core]
    pager = less

[color]
    ui = true

[merge]
    tool = meld

[diff]
    tool = meld

[commit]
    gpgsign = true
